table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
   border: 1px solid black;
}

table input {
     border: none;
     background-color:inherit;
}

tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

thead tr{
    background-color: aliceblue;
}

