p {
	background-color:orange;
	margin:10px auto;
	color:black;
	font-size: 1em;
	padding:10px;
	text-align: justify;
	font-weight: bold;
}
div {
	width:90%;
	margin:auto;
	padding:10px 5px;
}
select {
	font-size: 1em;
	width:10em;
	height:2em;
	margin-top:5px;
}